@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}
body {
  background-color: #dacdcd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.home-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page {
  display: none;
}

a {
  text-decoration: dotted;
  color: rgb(177, 9, 37);
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  border: 2px dotted rgb(172, 16, 42);
  padding: 20px;
}

/* cizim uygulamasi */

.cizim-baslık{
  background-color: #b5b8ec;
  color:rgb(94, 13, 13);
  text-transform: capitalize;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}  canvas {
  background-color: rgb(216, 222, 228);
  border: 2px dotted rgb(116, 12, 207);
}

canvas:hover{
  cursor:crosshair;
}
.toolbox {
  background-color: rgb(134, 9, 103);
  border: 1px solid rgb(27, 15, 39);
  position: relative;
  display: flex;
  padding: 2rem;
  width: 100%;
  margin: 1em;
}

.toolbox * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.25rem;
  margin: 0.25rem;
  background-color: #940b0b;
  border:1px solid rgb(235, 35, 35);
  border-radius: 5px;
 
  height: 50px;
  width: 50px;
  gap: 10px;
}

.toolbox #color {
  position: absolute;
 
 

}
.toolbox > *:last-child {
  margin-left: auto;
  background-color: #3c3d2b;

}


/* //FİLM UYGULAMASI */


/* #film-uygulamasi {
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
  margin: 0;
 
} */

#film-uygulamas {
  background-color: #373b69;
  display: flex;
  justify-content: flex-end;
  padding: 1rem; 
  position: absolute;
}

#film-uygulamasi #search {
  background-color: transparent;
  border: 2px solid #7378c5;
  border-radius: 50px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position:relative ;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  background-color: #22254b;
  outline: none;
}

.filmArea {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}
.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: rgb(189, 42, 42);
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.overview h3 {
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}

///GERİ SAYIMUYGULAMASI

body {
  background: #282e3a;
  font-family: tahoma;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
}
h3 {
  color: #fff;
  text-align: center;

  font-size: 20px;
  letter-spacing: 10px;
}

#main {
  width: 850px;
  margin: 2% auto;
}

#clock span {
  float: left;
  text-align: center;
  font-size: 60px;
  margin: 0 2.5%;
  color: #fff;
  padding: 20px;
  width: 20%;
  border-radius: 20px;
  box-sizing: border-box;
}

#clock span:nth-child(1) {
  background: #fa5559;
}

#clock span:nth-child(2) {
  background: #26c2b9;
}

#clock span:nth-child(3) {
  background: #f6bc58;
}

#clock span:nth-child(4) {
  background: #2dcb74;
}

#clock::after {
  content: "";
  display: block;
  clear: both;
}

#display span {
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

  color: #ddd;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.7);
}

span.flip {
  animation: flip 0.5s ease forwards;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

//GİTHUB PROFİL UYGULAMASI



* {
  box-sizing: border-box;
}

body {
  background-color: #a99985;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}
label {
  color: black;
  font-size: 1.5rem;
}

input {
  background-color: #dad2bc;
  border-radius: 10px;
  border: none;
  /*     box-shadow: 0px 0px 30px 1px #D80032 ; */
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 5rem;
  width: 300px;
}
input::placeholder {
  color: #a99985;
}
input:focus {
  outline: none;
}
.card {
  background-color: #f5f1ed;
  box-shadow: 0px 0px 50px 1px #252323;
  border-radius: 20px;

  display: flex;
  padding: 3rem;
  max-width: 800px;
}

.avatar {
  border: 10px solid #252323;
  border-radius: 70%;
  height: 200px;
  width: 200px;
}

.profil-bilgi {
  color: black;
  margin-left: 2rem;
  font-size: 1.3rem;
}

.profil-bilgi h2 {
  margin-top: 0;
}

.profil-bilgi ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  max-width: 400px;
}

.profil-bilgi ul li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profil-bilgi ul li strong {
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.repo {
  background-color: #dad2bc;
  border-radius: 5px;
  display: inline-block;
  color: black;
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  padding: 10px;
}

//HAVA DURUMU



* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(300deg, #ced1d6, #bfc0c0);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

input {
  background-color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  min-width: 300px;
}
label {
  font-weight: bold;
  padding: 0.3rem;
}

input:focus {
  outline: none;
}

.weather {
  font-size: 2rem;
  text-align: center;
}

.weather h2 {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.weather small {
  align-items: center;
}

.weather span {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Mesaj Bilgisi */

.mesaj {
  background-color: rgb(255, 126, 126);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: black;
  padding: 2rem;
  margin: 1rem;
}
#hava-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

//NOT UYGULAMASI


* {
  box-sizing: border-box;
}

body {
  background-color: #f5f1ed;

  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding-top: 3rem;
}

.yeniNot {
  background-color: #9ec862;
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.notlar {
  background-color: #dad2bc;
  box-shadow: 0 50px 20px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
  height: 400px;
}

.notlar .araclar {
  background-color: #9ec862;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.notlar .araclar button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.notlar .notSayfa {
  background-color: lightgoldenrodyellow;
  overflow: hidden;
  height: 400px;
  width: 100%;
  padding: 30px;
}

.notlar textarea {
  padding: 30px;
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 400px;
  width: 100%;
  background-color: #dad2bc;
}

.notlar .hidden {
  display: none;
}

//SİFRE URETME



* {
  box-sizing: border-box;
}

body {
  background-color: #757761;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0;
  min-height: 100vh;
}

.pw-container {
  background-color: #f4e76e;
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.5);
  min-width: 400px;
  color: #757761;
}
.pw-header {
  padding: 20px;
}
.pw {
  background-color: #f7fe72;
  display: flex;
  font-size: 2rem;
  align-items: center;
  position: relative;
  height: 70px;
  width: 100%;
  padding: 3rem;

  color: #3c3d2b;
}

.pw button {
  background-color: #94e8b4;
  border: none;
  font-family: inherit;
  color: #3c3d2b;
  padding: 0.3rem;
  top: 0;
  right: 0;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  transform: translate(0, 20%);
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 0;
}
.pw:hover button {
  opacity: 1;
  transform: translate(0, 0%);
  color: #3c3d2b;
}

.pw-body {
  padding: 20px;
}

.form-control {
  color: #3c3d2b;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
}

.generate {
  background-color: #94e8b4;
  border: none;
  border-radius: 15px;
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0.75rem;
  width: 100%;
  color: #3c3d2b;
  letter-spacing: 2px;
  cursor: pointer;
}

.generate:hover {
  background-color: #3c3d2b;
  color: #94e8b4;
}

//SORU UYGULAMASI



/* sayfa için modal tasarımı */
* {
  box-sizing: border-box;
}

body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}
/* Card ve button tasarımı */
.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  overflow: hidden;
  width: 600px;
  max-width: 100%;
}

.quiz-header {
  padding: 4rem;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: #2762f3;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  width: 100%;
  padding: 1.3rem;
  outline: none;
}

button:hover {
  background-color: greenyellow;
  color: black;
  outline: none;
}

/* Animasyon still kodları codepen @1animation alıntıdır. */
form {
  display: block;
  margin: auto;
  max-width: 60em;
  position: relative;
}

input {
  position: fixed;
  top: -1.5em;
  left: -1.5em;
}

label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2);
  transition: color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
label:not(:last-of-type) {
  margin-bottom: 1.5em;
}
label span {
  box-shadow: 0 0 0 0.2em currentColor inset, 0 0.2em 0.2em rgba(0, 0, 0, 0.2),
    0 0.3em 0.2em rgba(0, 0, 0, 0.2) inset;
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: bottom;
  width: 1.5em;
  height: 1.5em;
  transition: transform 0.2s cubic-bezier(0.5, 0, 0.5, 2),
    box-shadow 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95),
    color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

label span,
.worm__segment:before {
  border-radius: 50%;
}

input:checked + label,
input:checked + label span,
.worm__segment:before {
  color: #2762f3;
}

input:checked + label,
input:checked + label span {
  transition-delay: 0.4s;
}
input:checked + label span {
  transform: scale(1.2);
}

.worm {
  top: 0.375em;
  left: 0.375em;
}
.worm,
.worm__segment {
  position: absolute;
}
.worm__segment {
  top: 0;
  left: 0;
  width: 0.75em;
  height: 0.75em;
  transition: transform 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
.worm__segment:before {
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  background: currentColor;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.worm__segment:first-child:before,
.worm__segment:last-child:before {
  box-shadow: 0 0 1em 0 currentColor;
}

.worm__segment:nth-child(2) {
  transition-delay: 0.004s;
}
.worm__segment:nth-child(2):before {
  animation-delay: 0.004s;
}

.worm__segment:nth-child(3) {
  transition-delay: 0.008s;
}
.worm__segment:nth-child(3):before {
  animation-delay: 0.008s;
}

.worm__segment:nth-child(4) {
  transition-delay: 0.012s;
}
.worm__segment:nth-child(4):before {
  animation-delay: 0.012s;
}

.worm__segment:nth-child(5) {
  transition-delay: 0.016s;
}
.worm__segment:nth-child(5):before {
  animation-delay: 0.016s;
}

.worm__segment:nth-child(6) {
  transition-delay: 0.02s;
}
.worm__segment:nth-child(6):before {
  animation-delay: 0.02s;
}

.worm__segment:nth-child(7) {
  transition-delay: 0.024s;
}
.worm__segment:nth-child(7):before {
  animation-delay: 0.024s;
}

.worm__segment:nth-child(8) {
  transition-delay: 0.028s;
}
.worm__segment:nth-child(8):before {
  animation-delay: 0.028s;
}

.worm__segment:nth-child(9) {
  transition-delay: 0.032s;
}
.worm__segment:nth-child(9):before {
  animation-delay: 0.032s;
}

.worm__segment:nth-child(10) {
  transition-delay: 0.036s;
}
.worm__segment:nth-child(10):before {
  animation-delay: 0.036s;
}

.worm__segment:nth-child(11) {
  transition-delay: 0.04s;
}
.worm__segment:nth-child(11):before {
  animation-delay: 0.04s;
}

.worm__segment:nth-child(12) {
  transition-delay: 0.044s;
}
.worm__segment:nth-child(12):before {
  animation-delay: 0.044s;
}

.worm__segment:nth-child(13) {
  transition-delay: 0.048s;
}
.worm__segment:nth-child(13):before {
  animation-delay: 0.048s;
}

.worm__segment:nth-child(14) {
  transition-delay: 0.052s;
}
.worm__segment:nth-child(14):before {
  animation-delay: 0.052s;
}

.worm__segment:nth-child(15) {
  transition-delay: 0.056s;
}
.worm__segment:nth-child(15):before {
  animation-delay: 0.056s;
}

.worm__segment:nth-child(16) {
  transition-delay: 0.06s;
}
.worm__segment:nth-child(16):before {
  animation-delay: 0.06s;
}

.worm__segment:nth-child(17) {
  transition-delay: 0.064s;
}
.worm__segment:nth-child(17):before {
  animation-delay: 0.064s;
}

.worm__segment:nth-child(18) {
  transition-delay: 0.068s;
}
.worm__segment:nth-child(18):before {
  animation-delay: 0.068s;
}

.worm__segment:nth-child(19) {
  transition-delay: 0.072s;
}
.worm__segment:nth-child(19):before {
  animation-delay: 0.072s;
}

.worm__segment:nth-child(20) {
  transition-delay: 0.076s;
}
.worm__segment:nth-child(20):before {
  animation-delay: 0.076s;
}

.worm__segment:nth-child(21) {
  transition-delay: 0.08s;
}
.worm__segment:nth-child(21):before {
  animation-delay: 0.08s;
}

.worm__segment:nth-child(22) {
  transition-delay: 0.084s;
}
.worm__segment:nth-child(22):before {
  animation-delay: 0.084s;
}

.worm__segment:nth-child(23) {
  transition-delay: 0.088s;
}
.worm__segment:nth-child(23):before {
  animation-delay: 0.088s;
}

.worm__segment:nth-child(24) {
  transition-delay: 0.092s;
}
.worm__segment:nth-child(24):before {
  animation-delay: 0.092s;
}

.worm__segment:nth-child(25) {
  transition-delay: 0.096s;
}
.worm__segment:nth-child(25):before {
  animation-delay: 0.096s;
}

.worm__segment:nth-child(26) {
  transition-delay: 0.1s;
}
.worm__segment:nth-child(26):before {
  animation-delay: 0.1s;
}

.worm__segment:nth-child(27) {
  transition-delay: 0.104s;
}
.worm__segment:nth-child(27):before {
  animation-delay: 0.104s;
}

.worm__segment:nth-child(28) {
  transition-delay: 0.108s;
}
.worm__segment:nth-child(28):before {
  animation-delay: 0.108s;
}

.worm__segment:nth-child(29) {
  transition-delay: 0.112s;
}
.worm__segment:nth-child(29):before {
  animation-delay: 0.112s;
}

.worm__segment:nth-child(30) {
  transition-delay: 0.116s;
}
.worm__segment:nth-child(30):before {
  animation-delay: 0.116s;
}

/* States */
input:nth-of-type(1):checked ~ .worm .worm__segment:before {
  animation-name: hop1;
}

@keyframes hop1 {
  from,
  to {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1.5em);
  }
}
input:nth-of-type(2):checked ~ .worm .worm__segment {
  transform: translateY(3em);
}
input:nth-of-type(2):checked ~ .worm .worm__segment:before {
  animation-name: hop2;
}

@keyframes hop2 {
  from,
  to {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1.5em);
  }
}
input:nth-of-type(3):checked ~ .worm .worm__segment {
  transform: translateY(6em);
}
input:nth-of-type(3):checked ~ .worm .worm__segment:before {
  animation-name: hop3;
}

@keyframes hop3 {
  from,
  to {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1.5em);
  }
}

input:nth-of-type(4):checked ~ .worm .worm__segment {
  transform: translateY(9em);
}
input:nth-of-type(4):checked ~ .worm .worm__segment:before {
  animation-name: hop4;
}

@keyframes hop4 {
  from,
  to {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1.5em);
  }
}
/* Dark mode */
@media screen and (prefers-color-scheme: dark) {
  body {
    background: #242424;
    color: #f1f1f1;
  }

  input:checked + label,
  input:checked + label span,
  .worm__segment:before {
    color: #5785f6;
  }
}

//YEMEK TARİFİ UYGULAMASI

* {
  box-sizing: border-box;
}

body {
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.mobile-container {
  background-color: #fff;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  width: 400px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 0.5rem 1rem;
}

header button {
  background-color: transparent;
  border: none;
  color: rgb(138, 129, 141);
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-container {
  background-color: lemonchiffon;
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  cursor: pointer;
  position: relative;
  margin: 5px;
  width: 75px;
}

.fav-meals li .clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1.2rem;
}

.fav-meals li:hover .clear {
  opacity: 1;
}

.fav-meals li img {
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #3333331a;
  object-fit: cover;
  height: 70px;
  width: 70px;
}

.fav-meals li span {
  display: inline-block;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  cursor: pointer;
  margin: 1.5rem;
  overflow: hidden;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  border: none;
  background-color: transparent;
  color: rgb(197, 188, 188);
  cursor: pointer;
  font-size: 1.2rem;
}

.meal-body .fav-btn.active {
  color: red;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 2rem;
  position: relative;
  overflow: auto;
  max-height: 100vh;
  max-width: 600px;
  width: 100%;
}

.popup .close-popup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.meal-info h1 {
  text-align: center;
}
